#dialog {
    width: 600px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    z-index: 100;
    
}

    #dialog header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Fira Code';
    }

#dialog.active {
    opacity: 1;
}

.hidden{
    display: none;
}

