@rendermode InteractiveServer

<div id="dialog" style="@Style;display:@(IsVisible ? "flex" : "none");transition: 0.3s step-end;">

    <header>
        <span style="border-bottom: 3px solid #f0f0f0;">@Title</span>
        <FluentIcon @onclick="CloseDialog" Value="@(new Icons.Filled.Size24.CalendarCancel())" Color="@Color.Custom" CustomColor="#171b24" />
    </header>
    <br/>
    @ChildContent

</div>

@code {

    [Parameter]
    public string Title { get; set; } = "Beautiful Dialog";

    [Parameter]
    public RenderFragment? ChildContent { get; set; } // Allows custom content within the dialog

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    private async Task CloseDialog()
    {
        await OnDialogClose.InvokeAsync(); // Optional callback for closing actions
    }

    [Parameter]
    public EventCallback<object> OnDialogClose { get; set; } // Optional callback for closing actions

}