@page "/"

<PageTitle>Dashboard</PageTitle>

<div id="topBar">
    <span>Dashboard</span>

    <span>Quick Actions</span>
</div>

<main>

    <div id="first-container">

        <section id="chart-section">

            <span>Gender Demographics</span>


        </section>

        <section id="other-section">

        </section>

    </div>

    <div id="second-container">

    </div>

</main>

@code {



}