#topBar {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    height: 30px;
    font-family: Bahnschrift;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.3s width ease-in-out;
}

main {
    display: flex;
    flex-direction: row;
    height: 98vh;
    width: 100%;
    gap: 5px;
}

#first-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#second-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

#venueDescr {
    font-family: 'Fira Code';
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

#vData {
    font-weight: 500;
}

.mySect {
    cursor: pointer;
    top: 0%;
    right: 0%;
    padding: 10px;
    position: absolute;
    background-color: #f0f0ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

    .mySect:hover {
        background-color: #171b24;
    }

#tabular{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow-y: auto;
    height: 86%;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


.innerDiv{
    border-radius: 5px;
    border: 1px solid #f0f0ee;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Fira Code';
    gap: 10px;
    width: 178px;
    cursor: pointer;
    height:fit-content;
}

    .innerDiv:hover {
        background-color: #f0f0ee;

    }

